.item {
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  align-items: baseline;
  padding: 0 15%;
  margin-bottom: 10px;
}

.delete_button {
  padding: 2px 35px;
  cursor: pointer;
  border: 1px solid rgb(136, 134, 134);
  border-radius: 50px;
  color: rgb(49, 48, 48);
  text-shadow: 0 0 1px #fff, -0px -0px 0 hsl(80, 7%, 51%),
    -1px -1px 1px hsl(80, 1%, 59%), -0px -0px 0px hsl(80, 10%, 15%);
  font-size: medium;
  font-weight: 400;
  text-transform: capitalize;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.delete_button:hover,
.delete_button:focus {
  transform: scale(1.003);
  box-shadow: rgb(195, 245, 245) 0px 10px 10px -5px;
}
