.container {
  margin: 20px auto;
  width: 800px;
  padding: 40px 100px;
  background-color: #dadee0;
  border: 1px solid rgb(190, 195, 197);
  box-shadow: rgba(71, 71, 75, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(104, 105, 107, 0.35) 0px -2px 6px 0px inset;
}
