.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  height: 30px;
  justify-content: space-around;
  vertical-align: baseline;
  margin-bottom: 15px;
  padding: 0 15%;
  font-size: larger;
  font-weight: 700;
  color: rgb(49, 48, 48);
  text-shadow: 0 0 1px #fff, -1px -1px 0 hsl(80, 7%, 51%),
    -1px -1px 1px hsl(80, 1%, 59%), -1px -1px 1px hsl(80, 10%, 15%);
}

.input {
  margin-left: 10px;
  width: 75%;
  border-style: none;
}
.input:focus-within {
  outline-width: 2px;
  outline-offset: 2px;
  outline-style: double;
  outline-color: rgb(73, 124, 133);
  box-shadow: rgb(195, 245, 245) 0px 10px 10px -5px;
}

.button {
  height: 40px;
  cursor: pointer;
  border: 1px solid rgb(136, 134, 134);
  border-radius: 50px;
  color: rgb(49, 48, 48);
  text-shadow: 0 0 1px #fff, -0px -0px 0 hsl(80, 7%, 51%),
    -1px -1px 1px hsl(80, 1%, 59%), -0px -0px 0px hsl(80, 10%, 15%);
  font-size: large;
  font-weight: 800;
  text-transform: capitalize;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover,
.button:focus {
  transform: scale(1.003);
  box-shadow: rgb(195, 245, 245) 0px 10px 10px -5px;
}
